{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Duder-App
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        {% include 'input-box.html' %}
    </main>
    <section class="todo-list">
        {% include 'todo-list-item.html' %}
    </section> 
     <!-- javascript -->
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>